In [8]:
import pandas as pd

In [4]:
#list of years 
years = range(1990,2003)
year = 1991

In [6]:
def parse_title_references_pre_2002(dat_filename):
    """
    Parse title references from a DAT file
    
    Args:
        file_path (str): Path to the DAT file
    """
    # Read the file
    #with zipfile.ZipFile(zip_path, 'r') as zip_file:
       # with zip_file.open(dat_filename) as file:
            # Read and decode the file
           # data = file.read().decode('utf-8')
    # Split the data into lines and filter for C records
    print(dat_filename)
    with open(dat_filename,'r',encoding='utf-8') as file:
        data = file.read()
    lines = [line.strip() for line in data.split('\n') if line.strip().startswith('B')]
    print(len(lines))
    # Parse each C record
    records = []
    for line in lines:
        fields = line.split(';')
        record = {
            'district_code': fields[1],
            'source': fields[2],
            'valuation_num': fields[3],
            'property_id': fields[4],
            'unit_number': fields[5],
            'house_number': fields[6],
            'street_name': fields[7],
            'suburb_name': fields[8],
            'postcode': fields[9],
            'contract_date': fields[10],
            'purchase_price': fields[11],
            'land_description': fields[12],
            'area': fields[13],
            'area_type': fields[14],
            'dimensions': fields[15],
            'comp_code': fields[16],
            'zone_code': fields[17],
            'vendor_name': fields[18],
            'purchaser_name': fields[19],
            
        }
        records.append(record)
    
    # Convert to DataFrame
    df = pd.DataFrame(records)
    
    # Convert dates and numeric fields
   
    df['contract_date'] = pd.to_datetime(df['contract_date'],format="%d/%m/%Y")
    
    df['purchase_price'] = pd.to_numeric(df['purchase_price'], errors='coerce')
    df['area'] = pd.to_numeric(df['area'], errors='coerce')
    
    return df

In [16]:

year = 1990

dat_filename = f"/Users/bijubiju/Desktop/databases/australia_property_data/nsw/1990/ARCHIVE_SALES_1990.txt"
df = parse_title_references_pre_2002(dat_filename)
df.to_csv(f"../../data/property_data/{year}_property_data.csv")

# need to fix for 1990, 2001 , 2002

/Users/bijubiju/Desktop/databases/australia_property_data/nsw/1990/ARCHIVE_SALES_1990.txt
105332

In [13]:
line = "B;204;ARCHIVE;T000594;;10;8;ROKEBY RD;ABBOTSFORD;2046;19/10/1990;182000;LOT 10 SP 10445;0;M;;;;;;;"
fields = line.split(';')

record = {
    'district_code': [fields[1]],
    'source': [fields[2]],
    'valuation_num': [fields[3]],
    'property_id': [fields[4]],
    'unit_number': [fields[5]],
    'house_number': [fields[6]],
    'street_name': [fields[7]],
    'suburb_name': [fields[8]],
    'postcode': [fields[9]],
    'contract_date': [fields[10]],
    'purchase_price': [fields[11]],
    'land_description': [fields[12]],
    'area': [fields[13]],
    'area_type': [fields[14]],
    'dimensions': [fields[15]],
    'comp_code': [fields[16]],
    'zone_code': [fields[17]],
    'vendor_name': [fields[18]],
    'purchaser_name': [fields[19]]
}

# Convert to DataFrame
df = pd.DataFrame(record)
df.head()

,district_code,source,valuation_num,property_id,unit_number,house_number,street_name,suburb_name,postcode,contract_date,purchase_price,land_description,area,area_type,dimensions,comp_code,zone_code,vendor_name,purchaser_name
0,204,ARCHIVE,T000594,,10,8,ROKEBY RD,ABBOTSFORD,2046,19/10/1990,182000,LOT 10 SP 10445,0,M,,,,,

In [15]:
df['contract_date']=pd.to_datetime(df['contract_date'])
df.head()

/var/folders/74/9tpvyg253_d1_06tsh3c83900000gn/T/ipykernel_61850/231153306.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['contract_date']=pd.to_datetime(df['contract_date'])

,district_code,source,valuation_num,property_id,unit_number,house_number,street_name,suburb_name,postcode,contract_date,purchase_price,land_description,area,area_type,dimensions,comp_code,zone_code,vendor_name,purchaser_name
0,204,ARCHIVE,T000594,,10,8,ROKEBY RD,ABBOTSFORD,2046,1990-10-19,182000,LOT 10 SP 10445,0,M,,,,,

In [17]:
#fix 2002

def parse_title_references_2002(dat_filename):
    """
    Parse title references from a DAT file
    
    Args:
        file_path (str): Path to the DAT file
    """
    # Read the file
    #with zipfile.ZipFile(zip_path, 'r') as zip_file:
       # with zip_file.open(dat_filename) as file:
            # Read and decode the file
           # data = file.read().decode('utf-8')
    # Split the data into lines and filter for C records
    with open(dat_filename,'r',encoding='utf-8') as file:
        data = file.read()
    lines = [line.strip() for line in data.split('\n') if line.strip().startswith('B')]
    
    # Parse each C record
    records = []
    for line in lines:
        fields = line.split(';')
        record = {
            'district_code': fields[1],
            'property_id': fields[2],
            'sale_counter': fields[3],
            'download_datetime': fields[4],
            'property_name': fields[5],
            'unit_number': fields[6],
            'house_number': fields[7],
            'street_name': fields[8],
            'locality': fields[9],
            'post_code': fields[10],
            'area': fields[11],
            'area_type': fields[12],
            'contract_date': fields[13],
            'settlement_date': fields[14],
            'purchase_price':fields[15],
            'zoning': fields[16],
            'nature_of_property': fields[17],
            'primary_purpose': fields[18],
            'strata_lot_number': fields[19],
            'component_code': fields[20],
            'sale_code': fields[21],
            'interest_percentage': fields[22],
            'dealing_number':fields[23],
            
        }
        records.append(record)
    
    # Convert to DataFrame
    df = pd.DataFrame(records)
    
    # Convert dates and numeric fields
   
    df['contract_date'] = pd.to_datetime(df['contract_date'], errors='coerce')
    df['settlement_date'] = pd.to_datetime(df['settlement_date'], errors='coerce')
    df['download_datetime'] = pd.to_datetime(df['download_datetime'], errors='coerce')
    df['purchase_price'] = pd.to_numeric(df['purchase_price'], errors='coerce')
    df['area'] = pd.to_numeric(df['area'], errors='coerce')
    return df
# Example usage

In [28]:
year =2002
all_dfs=[]
import os
folder_name = "/Users/bijubiju/Desktop/databases/australia_property_data/nsw/2002"
folders = os.listdir(folder_name)
folders = [os.path.join(folder_name,f) for f in folders if os.path.isdir(os.path.join(folder_name,f))]
for f in folders:
    dat_files = os.listdir(f)
    dat_files = [f for f in dat_files if f.endswith(".DAT")]
    for dat_file in dat_files:
        df = parse_title_references_2002(os.path.join(f,dat_file))
        all_dfs.append(df)
full_df = pd.concat(all_dfs,ignore_index=True)

In [31]:
full_df.to_csv(f"../../data/property_data/2002_property_data.csv")