In [1]:
import pandas as pd

## Dates of various csvs are completely wrong so changing them here

In [11]:
df = pd.read_csv("../data/clean_data/full_data.csv")
df = df[["purchase_price","post_code","year"]]
df.head()

   purchase_price  post_code  year
0          335000     2641.0  2005
1          166000     2641.0  2005
2          245000     2640.0  2005
3           81000     2640.0  2005
4          260000     2640.0  2005

In [12]:
print(df["year"].unique())

[2005 2019 2004 2018 2007 2002 2006 2003 2022 2016 2013 2023 2017 2012
 2020 2008 2014 2011 2021 2009 2015 2010]

In [14]:
grouped_df = df.groupby(['post_code',"year"]).agg({'purchase_price':['mean','count']}).reset_index()
grouped_df.columns = ['post_code','year','average_price','volume']
grouped_df['average_price']=grouped_df['average_price'].round(-3).astype(int)
grouped_df['sector']="NSW"
for year in grouped_df['year'].unique():
    year_df = grouped_df[grouped_df['year']==year]
    csv_file_path = f'../data/dash_data/average_price_by_year/data_{year}.csv'
    year_df.to_csv(csv_file_path, index=False)

### average price delta

In [ ]:
delta_df = grouped_df.copy()
delta_df["delta"] = df.groupby(['post_code','year'])["purchase_price"].pct_change()*100
delta_df.head()

TypeError: list indices must be integers or slices, not str